<h1>Detalles de la compra</h1>

<table>
  <tr>
    <th>ID:</th>
    <td>1</td>
  </tr>
  <tr>
    <th>Nombre del cliente:</th>
    <td>David Saldivar</td>
  </tr>
  <tr>
    <th>Dirección:</th>
    <td>MEX, MTY, Olmeca 123</td>
  </tr>
  <tr>
    <th>Nombre de la compañía:</th>
    <td>PCEL</td>
  </tr>
  <tr>
    <th>Número fiscal de la compañía:</th>
    <td>325252</td>
  </tr>
</table>

<h2>Productos:</h2>

<table>
  <tr>
    <th>ID</th>
    <th>Producto</th>
    <th>Precio</th>
    <th>Cantidad</th>
  </tr>
  <tr>
    <td>1</td>
    <td>Core intel 9</td>
    <td>$145.90</td>
    <td>1</td>
  </tr>
  <tr>
    <td>2</td>
    <td>Teclado</td>
    <td>$5.30</td>
    <td>2</td>
  </tr>
  <tr>
    <td>3</td>
    <td>Mouse</td>
    <td>$2.00</td>
    <td>2</td>
  </tr>
</table>

